body {
  background-color: #e6b1d8;

  .main-section {
    margin: auto;
    display: flex;
    padding: 20px 100px;
    flex-direction: row;
    justify-content: space-between;

    .transaction-section, .overview-section {
      width: 45%;
      padding: 20px;
      background-color: rgb(243, 234, 240);

      .navigation-bar {
        margin: auto;
        display: flex;
        justify-content: center;

        .transaction-button {
          margin: 0 6px;
          background-color: rgb(228, 141, 204);
          border-radius: 10px;
          border-style: none;
          color: #08000d;
          font-size: 14px;
          font-weight: 500;
          line-height: 5px;
          margin: 0px 5px;
          padding: 8px 13px;
          text-align: center;
          cursor: pointer;
        }

        .transaction-button:hover{
            background-color: rgb(160, 160, 255);
            color: white;
        }
      }
    }

  }

  .key-group {
    display: flex;
    justify-content: center;
  }

  .calc-btn {
    color: #a655a6;
    background-color: #f2e2f5;
    font-size: 15px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 75px;
    font-weight: bold;
    cursor: pointer;
  }

  .calc-btn:hover {
    background-color: rgb(160, 160, 255);
    color: white;
  }

  #keyAddTransaction {
    width: 100%;
  }

  #keydot {
    padding-top: 0px;
    font-size: 64px;
    line-height: 0;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 32px;
  }
  .screen {
    padding: 10px;
    width: 100px;
    margin: auto;
    text-align: center;
    font-size: 50px;
  }

  .middle-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .category-section, .calculator-section {
      border: 1px dotted #3433b4;
      height: auto;
      width: 50%;
      margin: 5px;
      padding: 5px;
    }
  }

  .inflation-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .inflation-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(228, 141, 204);
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(255, 255, 255, 0.838);
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #9739D4;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #741173;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
    width: 72%;
    height: 50%;
  }

  .slider.round:before {
    border-radius: 100%;
  }
}


.main-header {
  display: flex;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  justify-content: center;
}

.empty-display-text-color {
  color: #d6c2c2;
}

.active-display-text-color {
  color: #a655a6; 
}