body {
  background-color: gray;

  .main-section {
    margin: auto;
    display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: space-between;

    .transaction-section, .overview-section {
      width: 400px;
      background-color: white;
    }

  }
}
.main-header {
  display: flex;
  width: 1000px;
  text-align: center;
}