body {
  background-color: #e6b1d8;

  .main-section {
    margin: auto;
    display: flex;
    padding: 20px 100px;
    flex-direction: row;
    justify-content: space-between;

    .transaction-section, .overview-section {
      width: 45%;
      padding: 20px;
      background-color: rgb(243, 234, 240);
      border: 1px solid black;
      border-radius: 5px;
    }

  }
}
.main-header {
  display: flex;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  justify-content: center;
}